* {
  margin: 0;
  padding: 0;
  font-family: Daydream;
}

@font-face {
  font-family: Daydream;
  src: url("./Daydream.ttf");
}

#inicio {
  background-color: black;
  color: white;
  text-align: center;
}

#tablero {
  order: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  max-width: 90vw;
}

.linea {
  display: flex;
  justify-content: center;
}

.celda {
  font-family: monospace;
  font-size: 0px;
  min-width: 86px;
  min-height: 86px;
}

.jugador,
.jugador-en-meta {
  background-image: url("./images/KEKE_0.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.caja {
  background-image: url("./images/BOX_0.webp");
  background-size: contain;
  color: green;
}

.caja-en-meta {
  background-image: url("./images/BOX_0.webp");
  filter: hue-rotate(160deg);
  background-size: contain;
  color: yellowgreen;
}

.pared {
  background-image: url("./images/RUBBLE_0.webp");
  background-size: contain;
  color: gray;
}

.meta {
  background-image: url("./images/FLAG_0.webp");
  background-size: contain;
  color: yellow;
}

#empezar {
  display: block;
  background-color: rgb(255, 115, 0);
  text-align: center;
  margin: 0 auto;
  height: 100px;
  width: 200px;
  font-size: larger;
}

h1 {
  font-size: 100px;
  color: brown;
}

h2 {
  font-size: 100px;
  color: rgb(91, 78, 78);
}

h3 {
  font-size: 50px;
}

p {
  font-size: 30px;
}

body {
  display: flex;
  justify-content: center;
  background-color: black;
}

.celda-texto {
  min-width: 86px;
  min-height: 86px;
  background-image: none;
  font-size: 56px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  border: 1px white dotted;
}

#botones-gameplay {
  order: 1;
}

#cambiar-estilo {
  width: 152px;
  display: block;
  color: white;
  text-align: center;
  background-color: black;
  font-size: 32px;
  user-select: none;
}

#cambiar-estilo {
  height: 96px;
  width: 164px;
  border: none;
}

table {
  user-select: none;
  order: 3;
  display: flex;
  flex-direction: column;
}

td {
  border: 1px black solid;
  min-width: 38px;
  text-align: center;
  background-color: black;
  color: white;
}

.marcado-completo {
  color: transparent;
  background-image: url("./images/STAR_0.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

table, #cambiar-estilo {
  visibility: hidden;
}